/****************************************************************/
/****************************************************************/
/************************ QUENTIN LUCAS *************************/
/********************* PROJET FINAL : SERRE *********************/
/*** PAGE PARAMETRAGE.HTML : ACCUEIL / FORMULAIRE DE CONNEXION **/
/****************************************************************/
/****************************************************************/

/** IMAGE DE FOND **/
.fond
{
    background-image:url("fond.jpg");
} 

/********************************************************************************************/
/*************************************      HEADER      *************************************/
/********************************************************************************************/

/** BANDEAU DU MENU **/
.bandeau
{
    height: 7em;
    background-color: rgba(252, 252, 252, 0.904);
    border: rgba(252, 252, 252, 0.904) solid 5px ;
    border-radius: 15em;
    margin-bottom: 5%;
}

/** IMAGE LAPRO **/
.lp
{
    border-radius: 10em;
    max-height: 100%;
    width: auto;
}

/** IMAGE PRO GREEN PARTY **/
.pgp
{
    max-height: 100%;
    width: auto;
}

/** BOUTON CONNEXION **/
.connexion
{   
    float: right;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    border-radius: 10em;
    padding: 2.8em;
    font-family: "Arial Black";
    font-style: italic;
}

/********************************************************************************************/
/**********************************      CORPS DU SITE      *********************************/
/********************************************************************************************/

/** TITRE + TEXTE DE PRESENTATION **/
.presentation
{
    padding-top: 5%;
    background-color: rgba(252, 252, 252, 0.904);
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border-radius: 10em;
}

.titre
{
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.texte
{
    margin-top: 2vh;
    transform: translateY(-2%);
    padding-bottom: 5%;
    font-family: "Arial Black";
    font-style: italic;
}

.explication
{
    width: 50%;
    margin: 0 auto;
}

/** GRAPHIQUE **/


.graph
{
    width:75%;
}

.zc-body {
    background: #2C2C39;
  }

  .chart--container {
    height: 100%;
    width: 100%;
    min-height: 530px;
  }

  .zc-ref {
    display: none;
  }