/*******************************************************************************/
/*******************************************************************************/
/******************************* QUENTIN LUCAS *********************************/
/*************************** PROJET FINAL : SERRE ******************************/
/************ PAGES : index.php / controle.php / parametrage.php ***************/
/*******************************************************************************/
/*******************************************************************************/


/********************************************************************************************/
/**************************** CSS GENERALE SUR TOUTES LES PAGES *****************************/
/********************************************************************************************/

/** IMAGE DE FOND **/
.fond
{
    background-image:url("fond.jpg");
} 

/********************************************************************************************/
/************************************ PAGE : index.php **************************************/
/********************************************************************************************/

/**********************************************************************/
/***********************      CORPS DU SITE      **********************/
/**********************************************************************/

/** TITRE + TEXTE DE PRESENTATION **/
.presentation
{
    padding-top: 5%;
    background-color: rgba(252, 252, 252, 0.904);
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border-radius: 10em;
}

.titre
{
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5%;
}

.texte
{
    margin-top: 2vh;
    transform: translateY(-2%);
    padding-bottom: 5%;
    font-family: "Arial Black";
    font-style: italic;
    margin-bottom: 5%;
}

.explication
{
    width: 50%;
    margin: 0 auto;
}

/** GRAPHIQUE **/


.graph
{
    width:75%;
    margin: 0 auto;
}

.zc-body {
    background: #2C2C39;
  }

  .chart--container {
    height: 100%;
    width: 100%;
    min-height: 530px;
  }

  .zc-ref {
    display: none;
  }
  
/********************************************************************************************/
/********************************** PAGE : PARAMETRAGE.HTML *********************************/
/********************************************************************************************/

.gestion
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5% !important;
    background-color: rgba(252, 252, 252, 0.904);
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border-radius: 10em;
}
